<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/footer.css">
    <script src="../../js/base.js"></script>
</head>
<!--<body class="background_body">이것때문에 문제가 발생한듯 합니다-->

</body>

<footer class="footerbar">
    <div class="footer_txt_div">
        <p class="footertitle">ABOUT</p>
        <div class="footer_menus">
            <a class="babylion_introduction" href="introduce.html">12th BabyLion</a>
            <a class="KAU_LikeLion" href="#">KAU LikeLion</a>
            <a class="Likelion_uni" href="#">LikeLion University</a>
        </div>
    </div>
</footer>


</html>
