<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Self Introduction</title>
    <link rel="stylesheet" href="../../css/selfIntroduction.css">


</head>
<body class="background.body" style="background-color: #000000">
<nav class="navbar_self_introduction_Junyoung_Seo">
    <div class="self_introduction_div">
<!--<p>는 문단 <a>는 하이퍼링크-->
        <p class="self_introduction_title">Me,Myself & i</p>
    </div>

    <div class="logo">
        <a href="#"><img src="../../img/LOGO.png" alt="logo" class="ryctim_logo"/></a>
    </div>

</nav>

<nav class="string_introduction->hello">
    <div class="introduce_myself.div">
        <p class="Hello0">안녕하세요!</p>
        <p class="Hello1">안녕하세요!</p>
        <p class="Hello2">안녕하세요!</p>
    </div>
<!--    <div class="BGM_introduction.div">-->
<!--&lt;!&ndash;        <audio id="intro_BGM" autoplay>&ndash;&gt;-->
<!--&lt;!&ndash;            <source src="introduction_BGM.mpeg" type="audio/mpeg">&ndash;&gt;-->
<!--&lt;!&ndash;        </audio> &ndash;&gt;-->
<!--오디오 재생 실패    </div>-->
</nav>

<nav class="wonmoon_main.nav">
    <div class="main_lecture">
        <p>저는 <span class="myname.span">서준영</span>입니다.
        <p>이번 학기에 멋사에 새로 가입하여 열심히 이것저것 배우고있습니다.
        <p>저의 특기는 <span class="jakgok">작곡</span>입니다.
        <p>대단한 사람은 아니고 그냥 못하지 않는 정도입니다
        <p><span class="insta">혹시 궁금하신 분들은 ----->
        <img class="r2c_time_insta" src="../../img/r2c_time_qr.png"/></span>
<!--        <p><span class="overwatch">오버워치</span>는 <span class="tierMaster">마스터</span>였습니다.-->
        <p>나이는 비록 여러분 보다 많지만, 정신연령은 여러분과 비슷하니 편안하게 대해주세요
        <p>제가 검색을 덜 해서 그런 지 잘 모르겠지만
        <p>이거 작성하는데 일일히 &lt;p&gt;를 입력해야해서 진짜 귀찮네요......
        <p>아무쪼록, 앞으로 잘 부탁드리겠습니다
    </div>



    <div class="mimi_div_img">
        <img class="mimi_img_1" src="../../img/KakaoTalk_20240323_040105106.jpg"/>
        <img class="mimi_img_2" src="../../img/KakaoTalk_20240323_040105106_01.jpg"/>
        <img class="mimi_img_3" src="../../img/KakaoTalk_20240323_040105106_02.jpg"/>
        <img class="mimi_img_4" src="../../img/KakaoTalk_20240323_040105106_03.jpg"/>
        <img class="mimi_img_5" src="../../img/KakaoTalk_20240323_040105106_04.jpg"/>
    </div>
    <div class="mimi_introduce_div">
        <p>저의 딸래미 미미에요
        <p>마지막 사진은 앉은 상태로 졸고있는 사진이에요.
        </p>

    </div>

</nav>
</body>
</html>