<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>과제</title>
    <script src="../../js/base.js"></script>
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
<div nav-include-path="../../templates/layout/navbar.HTML.html">
    <script>LoadNavBar();</script>
</div>
<div class="homework_submit.div">
    <div class="homework_submit_title" style="background-color: #fe9519">
        <p class="homework_title">과제부여하기</p>
    </div>
</div>
<div class="homework_list_div">
        <img src="../../img/book-btn.png" alt="book-btn" class="book-btn">
        <p class="homework_list" style="color: black" >과제 목록</p>
</div>
<div class="list_box">
    <div class="list_of_homework.div">
<!--        <div class="list_of_homework">-->
            <div class="line">
                <p class="list_git">[과제: 깃]</p>
                <p class="list_git_sub_reposi">repository 생성과 push</p>
                <p class="list_git_deadline">3월27일 월요일 19시까지</p>
            </div>
<!--        </div>-->
    </div>
    <div class="list_of_homework2.div">
<!--        <div class="list_of_homework2">-->
            <div class="line2">
                <p class="list_html">[과제:HTML & CSS]</p>
                <p class="list_html_sub_reposi2">12기 멋사 LMS 페이지 따라하기</p>
                <p class="list_html_deadline2">4월3일 월요일 19시까지</p>
            </div>
<!--        </div>-->
    </div>
    <div class="list_of_homework3.div">
<!--        <div class="list_of_homework3">-->
            <div class="line3">
                <p class="list_JS">[과제:JS]</p>
                <p class="list_JS_sub_reposi3">반응형 웹페이지 만들어보기</p>
                <p class="list_JS_deadline3">3월27일 월요일 19시까지</p>
            </div>
<!--        </div>-->
    </div>
    <div class="list_of_homework4.div">
<!--        <div class="list_of_homework4">-->
            <div class="line4">
                <p class="list_java">[과제:Java]</p>
                <p class="list_java_sub_reposi4">클래스 속성을 이용해서 은행계좌 만들기</p>
                <p class="list_java_deadline4">3월27일 월요일 19시까지</p>
            </div>
<!--        </div>-->
    </div>
    <script src="../../js/footer.js"></script>
</div>

</body>
<div foo-include-path="../../templates/layout/footer.HTML.html">
    <script>LoadFooterBar();</script>
</div>

</html>